<meta charset="UTF-8">

<style type="text/css">
    .adminAdd {
        /*border-left: 1px solid #DDDDDD;
        border-right: 1px solid #DDDDDD;
        border-bottom: 1px solid #DDDDDD;*/
        padding-top: 20px;
        /*padding-left: 20px;*/
        padding-bottom: 100px;
    }
    
    .adminAdd .item {
        min-height: 50px;
        width: 100%;
    }
    
    .adminAdd .item .input {
        border: 1px solid #B5B5B5;
    }
    
    .adminAdd .item .lable {
        min-height: 40px;
        width: 20%;
        line-height: 40px;
        float: left;
        text-align: right;
        font-size: 14px;
        font-weight: bold;
    }
    
    .adminAdd .item .conent {
        min-height: 50px;
        width: 70%;
        float: left;
        text-align: left;
        padding-left: 2%;
        margin-bottom: 5px;
    }
    
    .adminAdd .item .conent .sig {
        width: 120px;
        height: 40px;
        line-height: 40px;
    }
    div span{
        font-size: 12px;
    }
</style>
<template>
    <div class="adminAdd">
        <div class="item">
            <div class="lable">用户名: </div>
            <div class="conent">
                <input v-model="user.name" type="text" class="input" style="width: 325px;" placeholder="输入真实姓名">
                <span>长度2至4</span>
            </div>
        </div>
        <div class="item">
            <div class="lable">手机号码: </div>
            <div class="conent">
                <input v-model="user.mobile" type="text" class="input" style="width: 325px; " disabled="disabled" placeholder="输入成员手机号码">
            </div>
        </div>
        <!--<div class="item">
            <div class="lable">密码: </div>
            <div class="conent">
                <input v-model="user.password" type="password" class="input" style="width: 325px; " placeholder="输入密码">
                <span>长度8至12</span>
            </div>
        </div>-->
        <div class="item">
            <div class="lable">设置状态: </div>
            <div class="conent">
                <sd-radio :list.sync="status" :index.sync="status_selected" :name='"name"'></sd-radio>
            </div>
        </div>
        <div class="item">
            <div class="lable">选择账号类型: </div>
            <div class="conent">
                <sd-radio :list.sync="roles" :index.sync="roles_selected" :name='"remark"'></sd-radio>
            </div>
        </div>
    </div>
</template>
